{
  "type": "service_account",
  "project_id": "vibetype-3f373",
  "private_key_id": "<private-key-id>",
  "private_key": "<private-key>",
  "client_email": "firebase-adminsdk-fbsvc@vibetype-3f373.iam.gserviceaccount.com",
  "client_id": "<client-id>",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40vibetype-3f373.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}
