GTAG_ID=G-WMQ1JY99XH
MAEVSI_FIREBASE_SERVICE_ACCOUNT_CREDENTIALS=
MAEVSI_NUXT_PRIVATE_API_NOTIFICATION_SECRET=
MAEVSI_NUXT_PRIVATE_OPENAI_API_KEY=
PNPM_STORE_DIR=
S3_TUSD_BUCKET=maevsi-images
S3_TUSD_ENDPOINT=http://minio:9000
S3_TUSD_REGION=eu-central-1
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
TURNSTILE_SITE_KEY=1x00000000000000000000AA
TUSD_MAX_SIZE=1048576
