MAEVSI_AWS_REGION=eu-central-1
MAEVSI_FIREBASE_SERVICE_ACCOUNT_CREDENTIALS=
MAEVSI_NUXT_PUBLIC_GTAG_ID=G-WMQ1JY99XH
MAEVSI_NUXT_PUBLIC_MAEVSI_EMAIL_LIMIT24H=100
MAEVSI_NUXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
MAEVSI_PGHOST=postgres
PNPM_STORE_DIR=
TUSD_BUCKET=maevsi-images
TUSD_ENDPOINT=http://minio:9000
TUSD_MAX_SIZE=1048576
TUSD_REGION=eu-central-1