# Set default values for all following accounts.
defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
syslog         on

# <name>
account        <name>
host           <host>
port           <port>
from           <email>
user           <email>
password       <password>

# Set a default account
account default : <name>
aliases        /etc/aliases
