{
  "apiToken": "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjEyMzQ1Njc4OSwiYWFpIjoxMSwidWlkIjoxMjM0NTY3OCwiaWFkIjoiMjAyNS0wMS0wMVQwMDowMDowMC4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MTIzNDU2NzgsInJnbiI6ImV1YzEifQ.fZT9_27JN2gzvAUEFIqhcFqe5t9ZQYmJ26lBQhBz_qs",
  "board": {
    "contact": {
      "column": {
        "emailAddressId": "email",
        "messageId": "message",
        "nameId": "name"
      },
      "id": "1234567890",
      "groupId": "group_abc1defg"
    },
    "earlyBird": {
      "column": {
        "agreementId": "agreement",
        "emailAddressId": "email",
        "nameId": "name"
      },
      "id": "1234567890",
      "groupId": "group_abc1defg"
    }
  }
}
