# Set default values for all following accounts.
defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
syslog         on

# privateemail
account        privateemail
host           mail.privateemail.com
port           465
from           <your email>
user           <your email>
password       <your password>

# Set a default account
account default : privateemail
aliases        /etc/aliases