name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: dargstack derive
      run: |
        mkdir ~/scripts/
        wget "https://raw.githubusercontent.com/dargmuesli/dargstack/master/src/dargstack" -O ~/scripts/dargstack
        chmod +x ~/scripts/dargstack
        ~/scripts/dargstack derive
